@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  color: white;
  background-image: url(../img/web\ bg.jpg);
  background-position: top left;
  background-repeat: no-repeat;
}

/* //////////////////////////////Navbar/////////////////////////////// */

nav ul li {
  display: inline;
}

#logo {
  display: inline-block;
  margin: 9px 0px 9px 43px;
  width: 100px;
}

#name {
  font-family: "Ubuntu", sans-serif;  color: #f70606;
  text-decoration: none;
  display: inline;
  font-size: 30px;
  position: relative;
  bottom: 40px;
  margin-right: 70px;
  
}

.link {
  font-family: "Ubuntu", sans-serif;  font-size: 20px;
  color: white;
  text-decoration: none;
  position: relative;
  bottom: 42px;
  padding: 34px 23px;
}

.link:hover,
.link.active {
  text-decoration: underline;
  color: grey;
}

#gap {
  margin-left: 137px;
}

#btn {
  font-family: "Ubuntu", sans-serif;
  margin: 0px 0px;
  background-color: black;
  color: white;
  padding: 4px 14px;
  border: 2px solid grey;
  border-radius: 10px;
  position: relative;
  bottom: 42px;
  font-size: 15px;
  cursor: pointer;
}

#btn:hover {
  background-color: rgb(31, 30, 30);
}

#reg {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  color: white;
  cursor: pointer;
}

/* //////////////////////////////Index-Container/////////////////////////////// */
.container {
  margin: 15px 0px 0px 42px;
  padding: 20px 20px;
  width: 600px;
  height: 440px;
}

#title {
  font-family: "Ubuntu", sans-serif;  color: #f70606;
  display: block;
  font-size: 49px;
  margin-right: 70px;
  
}

#text {
  font-size: 22px;
}

/* //////////////////////////////About-Container/////////////////////////////// */
#about {
  font-family: "Ubuntu", sans-serif;  color: #f70606;
  display: block;
  font-size: 49px;
  margin-right: 70px;
  margin-bottom: 10px;
}

#container {
  margin: 15px 42px;
  padding: 20px 20px;
  width: 700px;
  height: 440px;
}

.equ {
  display: inline;
  margin: 10px 10px;
  border-radius: 2px;
}
.equ img{
  filter: drop-shadow( -2px 2px 3px black);
}

#sit {
  font-family: "Ubuntu", sans-serif;  color: #f70606;
  display: inline-block;
  font-size: 26px;
  margin-left: 60px;
  margin-top: 18px;
}

#mill {
  font-family: "Ubuntu", sans-serif;  color: #f70606;
  display: inline;
  font-size: 26px;
  margin-left: 49px;
}

#sitd {
  display: inline-block;
  width: 250px;
  padding-bottom: 17px;
  font-size: 22px;
  margin-left: 60px;
}

#tre {
  display: inline-block;
  width: 250px;
  height: 95px;
  /* margin-top: px; */
  padding-top: 10px;
  padding-left: 48px;
  font-size: 22px;
}

/* ///////////////////////////////Footer////////////////////////////// */

.footer {
  margin: 100px auto auto auto;
  width: 90vw;
  height: 217px;
}

.footer-head {
  font-size: 40px;
}
.footul {
  display: grid;
  grid-template-columns: 300px 404px 250px 197px;
  list-style: none;
  row-gap: 5px;
  padding-bottom: 15px;
}

#logo1 {
  display: inline-block;
  width: 84px;
}

#name1 {
  font-family: "Ubuntu", sans-serif;  color: #f70606;
  text-decoration: none;
  display: inline;
  font-size: 35px;
  position: relative;
  bottom: 25px;
  margin-right: 70px;
  
}

#copy {
  display: inline;
  float: right;
  font-size: 20px;
  padding: 20px 78px 0px 0px;
}

/* //////////////////////////////////Form/////////////////////////////////// */

.container1 {
  border: 2px solid white;
  margin: 20px 68px 0px 68px;
  padding: 24px;
  width: 40%;
  border-radius: 28px;
}

.form-group input {
  font-family: "Ubuntu", sans-serif;
  /* text-align: center; */
  display: block;
  width: 300px;
  padding: 1px;
  border: 2px solid black;
  margin: 11px auto;
  font-size: 17px;
  border-radius: 8px;
}
.form-group input::placeholder {
  text-align: center;
}
.container1 h1 {
  text-align: center;
  font-size: 31px;
}

.container1 button {
  display: block;
  width: 65%;
  margin: 15px auto;
}

.botn {
  font-family: "Ubuntu", sans-serif;
  margin: 0px 9px;
  background-color: black;
  color: white;
  padding: 4px 14px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.botn:hover {
  background-color: rgb(31, 30, 30);
}

.text-shadow{
  text-shadow: -2px 2px 3px black;
}

@media screen and (max-width: 600px) {
  body {
    background-image: url(../img/respon\ web\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

  nav ul {
    width: 95vw;
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 13px;
    row-gap: 52px;
    padding-top: 24px;
    margin: auto;
}
  #image-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
  }
  #reg {
    font-family: "Ubuntu", sans-serif;
  }
  #reg-btn {
    min-width: 100vw;
    text-align: center;
  }
  #logo {
    display: inline-block;
    margin: 0px 0px 0px 0px;
    width: 20vw;
  }
  #name {
    font-size: 35px;
    bottom: 0px;
    margin-right: 0px;
  }

  .link {
    font-size: 15px;
    bottom: 11px;
    padding: 0px 0px;
  }
  #gap {
    margin-left: 0px;
  }

  .container {
    width: 100vw;
    margin: 140px 0px 0px 0px;
    padding: 0px 20px;
  }

  #container {
    width: 100vw;
    margin: 46px 0px 0px 0px;
    padding: 0px 20px;
    height: 500px;
}
#sit {
  font-size: 26px;
  margin-left: 0px;
        margin-top: 0px;
}
#sitd {
  width: 152px;
  padding-bottom: 0px;
  font-size: 15px;
  margin-left: 0px;
}
#mill {
  margin-left: 30px;
}
#tre {
  width: 190px;
  height: 53px;
  padding-top: 0px;
  padding-left: 30px;
  font-size: 15px;
}
.equ img{
  width: 140px;
  filter: drop-shadow( -2px 2px 3px black);
}
  #about {
    font-size: 40px;
    margin-right: 0px;
    margin-bottom: 16px;
}
  #title {
    font-size: 40px;
  }
  #text {
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
  }
  .footer-detail {
    font-size: 7px;
  }
  .footer-head {
    font-size: 16px;
  }
  .footul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 5px;
    width: 95vw;
    margin: auto;
  }

  .footer {
    margin: 0px;
    width: 100vw;
    height: 217px;
  }
  #logo1 {
    display: inline-block;
    width: 15vw;
  }

  #name1 {
    font-size: 20px;
    bottom: 20px;
    margin-right: 1px;
  }
  .footer {
    margin: 0px;
    width: 100vw;
    height: 180px;
  }
  #copy {
    font-size:8px;
    padding: 18px 14px 0px 0px;
  }
  .footer-copy {
    width: 95vw;
    margin: 15px auto;
  }
  .text-shadow{
    text-shadow: -2px 2px 3px black;
  }



  .container1 {
    border: 2px solid white;
    margin: 20px auto 150px auto;
    padding: 24px;
    width: 70%;
    border-radius: 28px;
}
.form-group input{
  width: 200px;
  margin: 11px auto;
  font-size: 15px;
}
}
